@use '../util' as u;
html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-x: hidden;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;
    font-family: u.$font;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: row;
    background-image: url('/assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: top -240px right -200px;
    @media (min-width: 48em) {
        background-image: url('/assets/bg-main-tablet.png');
        background-repeat: no-repeat;
        background-position: top -240px right -100px;
    }
    @media (min-width: 90em) {
        background-image: url('/assets/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-position: top -240px right -200px;
    }
}
