:root {
    --black-color: hsl(244, 23%, 12%);
    --white-color: hsl(20, 33%, 98%);
    --orange-color: hsl(12, 94%, 65%);
    --light-orange-color: hsl(33, 100%, 70%);
    --light-green-color: hsl(177, 68%, 64%);
}